.experienceWaves {
  position: relative;
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);

  .experienceWavesHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: var(--secondaryColor);
      font-weight: 700;
      margin-bottom: 0.25rem;
      font-size: 1.75rem;
      line-height: 1.2;
    }

    h4 {
      font-weight: 400;
      // font-size: 1.15rem;
      line-height: 1.2;
    }

    p {
      margin-top: 1.5rem;
      width: 60%;
      text-align: center;
      font-size: 1.15rem;
    }
  }

  .experienceWavesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-items: center;

    ul {
      // gap: var(--gap);

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        width: 85%;

        .icon {
          background-color: var(--secondaryColor);
          border-radius: 50%;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.1rem;

          svg {
            color: var(--backgroundColor);
            font-size: 1rem;
          }
        }
      }
    }
  }

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100%;
    z-index: -1;

    img {
      height: 70%;
      width: 70vw;
      transform: rotate(90deg);
      opacity: 0.1;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1100px) {
  .experienceWaves {
    height: fit-content;

    .experienceWavesHeader{
      p{
        width: 80%;
      }
    }

    .experienceWavesList {
      display: flex;
      flex-wrap: wrap;
      padding: 0 5%;
      justify-content: center;
      gap: 0;

      ul {
       width: 20rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
.experienceWaves{
  .experienceWavesHeader {
    h1 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1rem;
    }

    p {
      width: 90%;
      font-size: 1rem;
    }
  }
}
}

