.tours {
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 10%;
  position: relative;

  h1 {
    color: var(--secondaryColor);
    font-size: 1.75rem;
    // margin-bottom: 1rem;
    font-weight: 600;
  }

  .tourContainerText {
    font-size: 1.15rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .tourList {
    position: relative;
    width: fit-content;
    // min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: var(--gap);

    .tourContainer {
      width: 10rem;
      height: 10rem;
      border-radius: 1.25rem;
      position: relative;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
        transition: all 300ms ease;
        overflow: hidden;
      }

      .imageOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(8, 20, 36, 0.6);
        border-radius: 1.25rem;
      }

      p {
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: 700;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  .backgroundImage {
    position: absolute;
    top: 25%;
    right: -15%;
    transform: translate(15%, -25%);
    height: 100vw;
    width: 100%;
    z-index: -1;

    img {
      height: 70%;
      width: 70vw;
      transform: rotate(-90deg);
      opacity: 0.1;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1100px) {
  .tours {
    padding: 0 5%;
    .tourList {
      gap: 2rem;
    }
  }
}

@media screen and (max-width: 900px) {
.tours {
  .tourList {
    grid-template-columns: repeat(2, 1fr);

    .tourContainer {
      width: 15rem;
      // height: 15rem;
    }
  }
}
}

@media screen and (max-width: 600px) {
  .tours {

    h1 {
      font-size: 1.5rem;
    }

    .tourContainerText {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .tourList {
      // width: 90%;
      // grid-template-columns: repeat(1, 1fr);
      .tourContainer {
        // width: 100%;
        width: 13rem;
        height: 8rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
.tours {
  .tourList{
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 1.15rem;

    .tourContainer {
      width: 45%;
      height: 8rem;
    }
  }
}
}