nav {
  position: fixed;
  display: flex;
  right: 5%;
  top: 50%;
  transform: translate(-50%, -5%);
  z-index: 1000;
  // overflow: hidden;

  

  .menuButton {
    // position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
    transition: all 300ms ease;
    z-index: 1000;

    .dot {
      height: 0.5rem;
      width: 0.5rem;
      background-color: white;
      border-radius: 50%;
    }

    &:hover {
      background-color: var(--overlay);
      border-radius: 0.5rem;
    }
  }
}

@media screen and (max-width: 500px) {
  // nav {
  //   top: 1rem;
  //   right: 2rem;
  //   transform: rotate(90deg);

  // }
}
