.toursCta {
  width: 50rem;
  margin: 4rem 5%;
  // margin: 4rem auto;
  display: flex;
  position: relative;
  height: 23rem;

  .imagesContainer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    // flex: 2;
    // display: flex;
    // position: relative;
    // justify-content: flex-end;

    img {
      position: relative;
      width: auto;
      height: 23rem;
      object-fit: cover;
    }

    .imageOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(7, 20, 36);
      background: -moz-linear-gradient(
        160deg,
        rgba(7, 20, 36, 0.20073967086834732) 0%,
        rgba(7, 20, 36, 0.6993391106442577) 80%
      );
      background: -webkit-linear-gradient(
        160deg,
        rgba(7, 20, 36, 0.20073967086834732) 0%,
        rgba(7, 20, 36, 0.6993391106442577) 80%
      );
      background: linear-gradient(
        160deg,
        rgba(7, 20, 36, 0.20073967086834732) 0%,
        rgba(7, 20, 36, 0.6993391106442577) 80%
      );
    }
  }

  .ctaContent {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h2 {
      font-size: 1.25rem;
      color: var(--secondaryColor);
      line-height: 1.2;
      //   align-self: center;
      text-align: start;
      padding-left: 20%;
    }

    a {
      margin-left: 20%;
    }

    .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 1.75rem;
        color: var(--secondaryColor);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 0.05em;

        &:nth-child(2) {
          color: var(--primaryColor);
        }
      }
    }
  }
}
