.toursCta {
  width: 50rem;
  margin: 4rem 5%;
  display: flex;
  position: relative;
  height: 23rem;

  .imagesContainer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
   

    img {
      position: relative;
      width: auto;
      height: 23rem;
      object-fit: cover;
    }

    .imageOverlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(7, 20, 36);
      background: -moz-linear-gradient(
        160deg,
        rgba(7, 20, 36, 0.3) 0%,
        rgba(7, 20, 36, 0.8) 60%
      );
      background: -webkit-linear-gradient(
        160deg,
        rgba(7, 20, 36, 0.3) 0%,
        rgba(7, 20, 36, 0.8) 60%
      );
      background: linear-gradient(
        160deg,
        rgba(7, 20, 36, 0.3) 0%,
        rgba(7, 20, 36, 0.8) 60%
      );
    }
  }

  .ctaContent {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    h2 {
      font-size: 1.25rem;
      color: var(--secondaryColor);
      line-height: 1.2;
      //   align-self: center;
      text-align: start;
      padding-left: 20%;
    }

    a {
      margin-left: 20%;
    }

    .title {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      p {
        font-size: 1.75rem;
        color: var(--secondaryColor);
        line-height: 1.2;
        font-weight: 600;
        letter-spacing: 0.05em;

        &:nth-child(2) {
          color: var(--primaryColor);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .toursCta {
    width: 90%;
    height: 20rem;

    .imagesContainer {
      img {
        height: 20rem;
      }
    }
    .ctaContent {
      gap: 1.5rem;
      h2 {
        text-align: end;
        align-self: flex-end;
        padding: 0;
      }

      a {
        align-self: flex-end;
        margin: 0;
      }

      .title {
        align-items: flex-end;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .toursCta{
    height: 14rem;
    margin: 2rem 5%;
    .imagesContainer{

      img {
        height: 14rem;
      }
      
    }

    .ctaContent{
    
      h2{
        font-size: 1rem;
      }

      .title{
        p{
          font-size: 1.25rem;
          text-align: end;
        }
      }
    }
  }
}