.findDestination {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  // padding: 6rem 0;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    line-height: 1.2;

    h1 {
      color: var(--secondaryColor);
      font-size: 2rem;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .searchDestinations {
    display: flex;
    gap: 1.5rem;

    .searchBar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 20rem;
      border: 1px solid var(--primaryColor);
      border-radius: 2rem;
      padding: 0.5rem 1.25rem;
      

      input {
        font-size: 1rem;
        color: var(--secondaryColor);
        background-color: transparent;

        &::placeholder {
          color: var(--secondaryColor);
        }
      }

      svg {
        font-size: 1.5rem;
        color: var(--primaryColor);
      }
    }

    svg {
      font-size: 2rem;
      color: var(--secondaryColor);
    }
  }

  .popularDestinations {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;

    h3 {
      font-size: 1rem;
      color: var(--secondaryColor);
      font-weight: 400;
      text-align: center;
    }

    // .carousel {
    //   position: relative;
    //   display: flex;
    //   // align-items: center;
    //   gap: var(--gap);
    //   height: fit-content;
    //   width: 100%;

    //   .nav {
    //     position: absolute;
    //     // top: 50%;
    //     display: flex;
    //     align-items: center;
    //     // transform: translateY(0);
    //     height: 100%;

    //     svg {
    //       font-size: 3rem;
    //       color: var(--primaryColor);
    //     }

    //     &:first-child {
    //       left: -2.5rem;
    //       transform: translateX(-2.5rem);
    //     }

    //     &:last-child {
    //       right: -2.5rem;
    //       transform: translateX(2.5rem);
    //     }
    //   }

    //   .carouselContainer {
    //     position: relative;
    //     height: 8rem;
    //     aspect-ratio: 5/3;
    //     border-radius: var(--borderRadius);

    //     img {
    //       height: 100%;
    //       width: 100%;
    //       object-fit: cover;
    //       border-radius: var(--borderRadius);
    //     }

    //     p {
    //       position: absolute;
    //       top: 50%;
    //       left: 50%;
    //       transform: translate(-50%, -50%);
    //       font-weight: 700;
    //     }

    //     .imageOverlay {
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       height: 100%;
    //       width: 100%;
    //       background-color: var(--overlay);
    //       // background-color: red;
    //       // z-index: 10;
    //     }
    //   }
    // }
    .popularDestinationSlider {
      // width: 100%;
      max-width: 1000px;
      // max-width: 40rem;
      min-height: 13rem;
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;
      padding: 1rem;
      gap: 1rem;
    
      button {
        padding: 0.5rem;
        color: var(--colorPrimary);
      }
    
      .destinationContainer {
        width: calc(100% - 4rem);
        // max-width: 36rem;
        position: relative;
        display: flex;
        overflow-y: scroll;
        scroll-behavior: smooth;
    
        .destinationInnerContainer {
          display: flex;
          gap: 1rem;
    
          .destinationCard {
            height: 10rem;
            width: 13rem;
            padding: 0.25rem;
            border: 0.1em solid transparent;
            border-radius: 0.625em;
            cursor: pointer;
    
            .destinationCardInner {
              border-radius: calc(0.5em - 0.1em);
              padding: 0.15rem;
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
    
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: calc(0.5em - 0.1em);
              }
    
              .imageOverlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: var(--overlay);
              }
    
              .destinationTitle {
                width: 80%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                color: var(--primaryColor);
                text-align: center;
                font-weight: 600;
                letter-spacing: 0.05em;
              }
            }
          }
        }
      }
    }
  }
}
