.discover {
  display: flex;
  justify-content: center;
  height: 27rem;
  justify-content: center;
  width: 100%;
  padding: 2rem 12% 6rem;

  .container {
    height: 100%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 2rem;
    line-height: 1.2;

    p {
      width: 80%;
      font-size: 1.75rem;
      font-weight: 500;
    }
    // h2 {
    //   width: 50%;
    //   font-size: 1.5rem;
    //   line-height: 1.2;

    //   span {
    //     color: var(--secondaryColor);
    //   }
    // }

    // &:last-child {
    //   height: 100%;
    //   flex: 2;
    // }
  }

  .imageContainer {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    line-height: 1.2;
    position: relative;

    h2 {
      position: absolute;
      bottom: 0;
      width: 70%;
      font-size: 1.75rem;
      line-height: 1;

      span {
        color: var(--secondaryColor);
      }
    }
  }
}